LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "tx" SITE "J17";
IOBUF PORT "tx" IO_TYPE=LVCMOS33;

LOCATE COMP "rst_n" SITE "E1";
IOBUF PORT "rst_n" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "send_next_hello_world" SITE "F2";
IOBUF PORT "send_next_hello_world" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "tx_ready_led" SITE "E4";
IOBUF PORT "tx_ready_led" IO_TYPE=LVCMOS33;

LOCATE COMP "tx_valid_led" SITE "F1";
IOBUF PORT "tx_valid_led" IO_TYPE=LVCMOS33;