LOCATE COMP "clock_25Mhz" SITE "P3";
IOBUF PORT "clock_25Mhz" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "rst_n" SITE "A19";
IOBUF PORT "rst_n" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "led_12_5" SITE "F20";
IOBUF PORT "led_12_5" IO_TYPE=LVCMOS33;

LOCATE COMP "led_25" SITE "D20";
IOBUF PORT "led_25" IO_TYPE=LVCMOS33;

LOCATE COMP "led_50" SITE "B20";
IOBUF PORT "led_50" IO_TYPE=LVCMOS33;

LOCATE COMP "led_100" SITE "B19";
IOBUF PORT "led_100" IO_TYPE=LVCMOS33;

LOCATE COMP "led_200" SITE "B18";
IOBUF PORT "led_200" IO_TYPE=LVCMOS33;