LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "tx" SITE "J17";
IOBUF PORT "tx" IO_TYPE=LVCMOS33;

LOCATE COMP "rx" SITE "H18";
IOBUF PORT "rx" IO_TYPE=LVCMOS33;

LOCATE COMP "rst_n" SITE "E1";
IOBUF PORT "rst_n" IO_TYPE=LVCMOS33 PULLMODE=UP;